<%= render 'proj_csses/projs' %>
<div id="mySidenav" class="backNav">
    <%= button_to "Back To Groups", portfolio_group_csses_show_path(@portfolio.id), :method => :get, :class =>"backButton-show btn btn-primary", :id => "back"%>
</div>