<br>
<br>
<br>
<br>
<br>
<br>


<div class = "buttons">

  <div class="holding">
    <%= button_to groups_path, :method => :get, class: "round" do%>
      Manage Project Groups<span class="round">Buckets for organizing all of your projects</span>
    <%end%>
  </div>
  <div class="holding">
    <%= button_to projs_path, :method => :get, class: "round" do%>
      Manage Projects<span class="round">A place to document all the awesome stuff you have done</span>
    <%end%>
  </div>
  <div class="holding">
    <%= button_to portfolios_path, :method => :get, class: "round" do%>
      Manage Portfolios<span class="round">Create a showcase of your groups/projects and share it!</span>
    <%end%>
  </div>

</div>

